---
const classes = [
	'select-none',
	'h-100vh',
	'w-100vw',
	'p-0',
	'overflow-hidden',
	'flex',
	'items-center',
	'justify-center',
	'text-#f0f0f0',
	'bg-#0f0f0f',
];
---
<body class:list={classes}>
	<slot />
</body>
